<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @crew.name %>
</p>

<p>
  <b>Description:</b>
  <%= @crew.description %>
</p>

<p>
  <b>Price:</b>
  <%= @crew.price %>
</p>


<%= link_to 'Edit', edit_crew_path(@crew) %> |
<%= link_to 'Back', crews_path %>
