<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe_category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @recipe_category.description %>
</p>


<%= link_to 'Edit', edit_recipe_category_path(@recipe_category) %> |
<%= link_to 'Back', recipe_categories_path %>
