<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @menu.name %>
</p>

<p>
  <b>Desription:</b>
  <%= @menu.desription %>
</p>
<table>
	<tr>
		<th>Recipe name</th>
		<th>Price</th>
	</tr>
	<% @menu.menu_recipes.each do |recipe|%>
		<tr>
			<td><%= recipe.recipe.name%></td>
			<td><%= recipe.recipe.price%></td>
		</tr>
	<%end%>
</table>



<p>
	<%= link_to 'add recipe', new_menu_menu_recipe_path(@menu) %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
