<h1>Listing content_about_us</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @content_about_us.each do |content_about_u| %>
  <tr>
    <td><%= content_about_u.title %></td>
    <td><%= content_about_u.body %></td>
    <td><%= link_to 'Show', content_about_u %></td>
    <td><%= link_to 'Edit', edit_content_about_u_path(content_about_u) %></td>
    <td><%= link_to 'Destroy', content_about_u, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content about u', new_content_about_u_path %>
