<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @content_about_u.title %>
</p>

<p>
  <b>Body:</b>
  <%= @content_about_u.body %>
</p>


<%= link_to 'Edit', edit_content_about_u_path(@content_about_u) %> |
<%= link_to 'Back', content_about_us_path %>
