<div id="reservation_container">
	
<%= notice%>

	<p><%=@functionroom.name%></p>
	<p><%=@functionroom.price%></p>
	<p><%=@functionroom.description%></p>
	<p>Can serve at least <%=@functionroom.capacity%> Persons</p>
	 <%@functionroom.function_room_images.each do |d|%>
	 	<p>
		<%= image_tag d.image.url(:medium)%> 
	 	</p>
	 <%end%>
	
	
	

</div>
