<h1>menu you added</h1>
<% @reservation.package_line_items.each do |menu|%>	
<p><%= link_to menu.menu.name, menu_reservation_reservation_package_pages_path(@reservation,menu) %></p>
<p><%= link_to "delete item" ,reservation_package_line_item_path(@reservation,menu), :method => :delete%></p>
<%end%>









<h1>list of menu</h1>
<%@menu.each do |menu|%>
	<h2><%= menu.name%></h2>
	<p><%= menu.desription%></p>
	<%= button_to "add menu", reservation_package_line_items_path(:menu_id => menu)%>
<%end%>
