<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @content_intro_u.title %>
</p>

<p>
  <b>Body:</b>
  <%= @content_intro_u.body %>
</p>


<%= link_to 'Edit', edit_content_intro_u_path(@content_intro_u) %> |
<%= link_to 'Back', content_intro_us_path %>
