<%= form_for(@menu_addons_line_item) do |f| %>
  <% if @menu_addons_line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu_addons_line_item.errors.count, "error") %> prohibited this menu_addons_line_item from being saved:</h2>

      <ul>
      <% @menu_addons_line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :new %><br />
    <%= f.text_field :new %>
  </div>
  <div class="field">
    <%= f.label :create %><br />
    <%= f.text_field :create %>
  </div>
  <div class="field">
    <%= f.label :destroy %><br />
    <%= f.text_field :destroy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
