<h1>Listing menu_addons_line_items</h1>

<table>
  <tr>
    <th>New</th>
    <th>Create</th>
    <th>Destroy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menu_addons_line_items.each do |menu_addons_line_item| %>
  <tr>
    <td><%= menu_addons_line_item.new %></td>
    <td><%= menu_addons_line_item.create %></td>
    <td><%= menu_addons_line_item.destroy %></td>
    <td><%= link_to 'Show', menu_addons_line_item %></td>
    <td><%= link_to 'Edit', edit_menu_addons_line_item_path(menu_addons_line_item) %></td>
    <td><%= link_to 'Destroy', menu_addons_line_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu addons line item', new_menu_addons_line_item_path %>
