<p id="notice"><%= notice %></p>

<p>
  <b>New:</b>
  <%= @menu_addons_line_item.new %>
</p>

<p>
  <b>Create:</b>
  <%= @menu_addons_line_item.create %>
</p>

<p>
  <b>Destroy:</b>
  <%= @menu_addons_line_item.destroy %>
</p>


<%= link_to 'Edit', edit_menu_addons_line_item_path(@menu_addons_line_item) %> |
<%= link_to 'Back', menu_addons_line_items_path %>
