<h1>Your Current Menu</h1>
<% @reservation.package_line_items.each do |menu|%>	
	
		<p>
			Menu name
			<b><%= link_to menu.menu.name, menu_reservation_reservation_package_pages_path(@reservation,:menu_id => menu.menu_id) %></p></b>
		<p>
			

		<p>
			Price
			<b><%= menu.menu.my_price%> </b>
		</p>
		
		<p>
			 Total <b> PHP <%= menu.menu.my_price * @reservation.numGuest%></b>
		</p>

	<p>
		
			<%= link_to "delete item" ,reservation_package_line_item_path(@reservation,menu), :method => :delete ,:class => 'btn btn-danger'%>

	</p>
<%end%>


<p>

	<%=link_to "add your menu" ,  menulist_reservation_reservation_package_pages_path(@reservation), :class => 'btn'%>

</p>





