
<div id="white_bg_shadowed">
		<div class="navbar">
		  <div class="navbar-inner">
		    
		     	<div id="dashboard_menu">
		     		<ul>
			 			<li><%= link_to "Return to dashboard" , reservation_path(@reservation), :class=>'btn btn-success'%></li>
			 		</ul>
			 		
		
			 		
			 		
			 	</div>
		   
		  </div>
		</div>
		
		<div id="h1banner">
				Available Function Rooms
				<div id="schema">
					<%= image_tag @schema.schema.url(:medium) %>
				</div>
				<hr />
			</div>
			<table width="880px" cellpadding="20">
			<%@function_room.each do |functionroom|%>
			<tr>	
								    
													<td width="35%">
														<div class="img_frame">
															<%= image_tag functionroom.image_function_room.url(:medium) %>
														</div>
													</td>
												<td>
													<b>
														<h3>	
													<%= link_to functionroom.name ,function_alone_reservation_reservation_package_pages_path(@reservation,:function_room_id => functionroom.id) %>
														</h3>
													</b>
													<p>
														<%= truncate(strip_tags(functionroom.description),:length=>300)  %>
												    </p>
												    <strong>		
													PHP<%= functionroom.price%>per hour
													</strong>
				

														<p>
															<div id="btn_blue">
														<%= button_to 'add function room', reservation_reservation_function_rooms_path(:function_room_id => functionroom) ,:class=>'btn btn-primary'%>
															</div>
														</p>
											</td>
				</tr>
				
			<%end%>
			
				
			</table>
</div>




	
	