<div id="white_bg_shadowed">
	<div class="navbar">
		  <div class="navbar-inner">
		    <div class="container">
		     	<div id="dashboard_menu">
		     		<ul>
			 			<li><%= link_to "Return to dashboard" , reservation_path(@reservation), :class=>'btn btn-success'%></li>
			 		</ul>
			 		
			 		
			 		
			 		
			 	</div>
		    </div>
		  </div>
		</div>
		
			<div id="h1banner">
				Recipe to choose for addons
				<hr />
			</div>
	<table width="980px" cellpadding="20">
			<% @recipe.each do |recipe|%>		
						<tr>												    
													<td width="35%">
														<div class="img_frame">
																<%= image_tag recipe.image_recipe.url(:medium) %>
														</div>
													</td>
													
								
											<td>
													<b>
														<h3>
															
															<%= link_to recipe.name ,recipe_alone_reservation_pages_path(@reservation,:recipe_id => recipe.id) %>
														</h3>
													</b>
													
												
												    <p>
												    	<h6><%= truncate(strip_tags(recipe.description),:length=>500)  %></h6>
												    
												    </p>	
											    
													<p>
														<strong>
														PHP <%= recipe.price%>
														</strong>
													</p>
													
													
														<p>
														Category:	<%= recipe.recipe_category.name%>
														</p>
												
													
														<p>
															<div id="btn_blue">
																<%= button_to "Add this recipe", reservation_menu_addons_line_items_path(:recipe_id => recipe), :class=> 'btn btn-primary '%>
															</div>
														</p>
											</td>
				</tr>
				
			<%end%>
			</table>


	
</div>