<div id="reservation_container">
	<p>
		<button class="btn btn-info">
	 		<%= link_to "Return to dashboard" , reservation_path(@reservation)%>
	 	</button>
	 	

	</p>
	
<p>Package Name: <strong><%= @reservation.reservation_package.package.name%></strong></p>
<p>Package Price: <strong>PHP<%= @reservation.reservation_package.package.price%></strong></p>



<b>CREWS</b>
<%@reservation_package.reservation.reservation_crews.each do |crew|%>
	<p>
		<p>Crew Name :<%= crew.crew.name%></p>
		 <p> <%= crew.crew.price%> Each of person <%= crew.quantity%></p>
		  	<p> Total :PHP<%= crew.total_price%></p>
	</p>
<%end%>
<hr />

<p>
	<h3><b>Total Value of the package: </b></h3>
	<p><b>
		PHP <%= @reservation.reservation_package.price%>
	</p></b>
</p>

<hr />
<%= display_menulist @reservation%>



<hr />

<%= display_addon @reservation%>


</div>
