<div class="container">
	
		<div id="white_bg_shadowed">
			
						<div class="navbar">
						  <div class="navbar-inner">
						   
						     	<div id="dashboard_menu">
						     		<ul>
							 			<li><%= link_to "Return to dashboard" , reservation_path(@reservation), :class=>'btn btn-success'%></li>
							 		</ul>
							 		
							 		<ul>
							 			<li><%= link_to "PAY", new_book_reservation_path ,:class=>"btn btn-inverse"%>		</li>
							 		</ul>
							 		
							 		
							 	</div>
						    
						  </div>
						</div>
						
								<table>
									<tr>
											<td><strong>Package Name: </strong><%= @reservation.reservation_package.package.name%></td>
									</tr>
									<tr>
										
										<td><strong>Package Description: </strong><%= truncate(strip_tags(@reservation.reservation_package.package.description),:length=>800)%></p></td>
									</tr>
								</table>					
						
					
					
					
						
							
								
										
															
											<div id="aside">
													<table cellpadding="10" class="table">
														<tr>
															<td>
															<strong>Crew name</strong>	
															</td>
															<td>
															<b>Number of crew</b>	
															</td>
															<td>
																<b>Price</b>
															</td>
														</tr>
													<h1>CREWS</h1>
													<%@reservation_package.reservation.reservation_crews.each do |crew|%>
														
														
														<tr>
															<td>
																<%= crew.crew.name%>
															</td>
															<td>
															      <%= crew.quantity%>
															</td>
															<td>
																	 PHP<%= crew.total_price%>
															</td>
															
														</tr>	
												<%end%>
												</table>
											</div>
											<br />
									
								
																<div id="aside2">
																	<p>
																		Total Package Price : PHP <%= @reservation.reservation_package.price%>
																	</p>
																	
																</div>
							
						
					
				
				
				
				
				<hr />
				<%= display_menulist @reservation%>
				
				
				
				<hr />
				
				<%= display_addon @reservation%>
		</div>

</div>