<div id="reservation_container">

<p>Package Name: <%= @reservation.reservation_package.package.name%></p>
<p>Package Price: PHP<%= @reservation.reservation_package.package.price%></p>



<b>CREWS</b>
<%@reservation_package.reservation.reservation_crews.each do |crew|%>
	<p>
		<%= crew.crew.name%> x <%= crew.quantity%><b> PHP<%= crew.total_price%></b>
	</p>
<%end%>


<p>
	<h3><b>Total Value of the package: </b></h3>
	<p><b>
		PHP <%= @reservation.reservation_package.price%>
	</p></b>
</p>

<hr />
<%= display_menulist @reservation%>



<hr />

<%= display_addon @reservation%>


</div>
