
<%= form_for @reservation do |f| %>

	 
  <div style="clear: both;padding-bottom:40px;">&nbsp;</div>
		  <div class="container">
		  	
		  		<div id="reservation-form-head">
					<div class ="container">
						
							<div class="row">
								<div class="span12">
									<div class="row">
										<div class="span1"> <div id="bord"><%= image_tag("rails.png")%></div>	</div>
										<div class="span11">
											<h1>Reservation form</h1>
											<p>Doh-Joe Events Place</p>
										</div>
									</div>
								</div>
								
							</div>
					 </div>
					</div>
  			<div id="regform">
  				<div class="container">
		<div id="error_handler_val">
		 <% if @reservation.errors.any? %>
		    <div id="error_explanation">
		      <ul>
		      <% @reservation.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		 </div>
	  </div>
				  <table class="table">
					  	<tr>
					    	<td> Name* </td> 
					    	<td> <%= f.text_field :name, :class => 'text_field' , 'size' => 600%>  </td>
					  	</tr>
					  	<tr>
					  		<td>Address*</td>
					  		<td>  <%= f.text_field :address, :class => 'text_field' %></td>
					  	</tr>
				  		<tr>
				  			<td> Contact*</td>
				  			<td> <%= f.text_field  :contact, :class => 'text_field' %></td>
				  		</tr>
				  		<tr>
				  			<td>Date*</td>
				  			<td><%= f.date_select :date, :class => 'date_select',:start_year =>Time.now.year, :end_year => (Date.today.year+5) ,:class => 'date_select', :prompt => {:day => "Day", :month => "Month", :year => "Year"}%></td>
				  		</tr>
				  		<tr>
				  			<td>Event Time Start*</td>
				  			<td><%= f.time_select :time_start, :class => 'time_select' ,:twelve_hour => true, :prompt => {:hour => "00", :minute => "00"}%></td>
				  		</tr>
				  		<tr>
				  			<td>Event Time End*</td>
				  			<td><%= f.time_select :time_end, :class => 'time_select', :twelve_hour => true , :prompt => {:hour => "00", :minute => "00"} %></td>
				  		</tr>
				  		<tr>
				  			<td>Number of Guest expected Guest*</td>
				  			<td><%= f.text_field  :numGuest, :class => 'number_field' %></td>
				  		</tr>
				  		<tr>
				  			<td>Service Type*</td>
				  			<td><%= collection_select(:reservation,:service_id,Service.all,:id,:name) %></td>
				  		</tr>
				  		<tr>
				  			<td> Email*</td>
				  			<td><%= f.text_field :email, :class => 'text_field' %></td>
				  		</tr
				  		<tr>
				  			
				  				<td> </td>
				  				<strong>
				  				<td><%=link_to "Terms And Condition" %></td>
				  				</strong>
				  			
				  		</tr>
				  		
				  		<tr>
						  			<td> </td>
						  			<td><%= f.check_box :reservation_option, :class => 'text_field' %> I have read, and agree to abide by the doh-joe event place rules.</td>
				  		</tr>
				  </table>
		  
  
  	 	<div class= 'btn-success'>
			&nbsp;
		</div>
		
			<br>
				<%= f.submit 'Submit', :class => 'btn' %>
		
		    
  </div>
      


  
<% end %>
</div>