
<%= form_for @reservation do |f| %>

<% if @reservation.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <div class="controls">
      Name* <%= f.text_field :name, :class => 'text_field' %> 
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      Address*<%= f.text_field :address, :class => 'span3' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      Contact*<%= f.text_field  :contact, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      Date*<%= f.date_select :date, :class => 'date_select',:start_year =>Time.now.year, :end_year => (Date.today.year+5) ,:class => 'date_select', :prompt => {:day => "Day", :month => "Month", :year => "Year"}%>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      Event Time Start*<%= f.time_select :timeStart, :class => 'time_select' ,:twelve_hour => true, :prompt => {:hour => "00", :minute => "00"}%>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      Event Time End*<%= f.time_select :timeEnd, :class => 'time_select', :twelve_hour => true , :prompt => {:hour => "00", :minute => "00"} %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      Number of Guest*<%= f.text_field  :numGuest, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
     Service Type<%= collection_select(:reservation,:service_id,Service.all,:id,:name) %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      Email*<%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
  	 <div class="controls">
		Registration Agreement <%= f.check_box :reservation_option, :class => 'text_field' %> 
    </div>
    </div>
  <div class="form-actions">
  	<button class="btn" type="submit">
    	<%= f.submit %>
    </button>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reservations_path, :class => 'btn' %>
  </div>
<% end %>
</div>