<%- model_class = Reservation.new.class -%>
<h1>Reservation Calendar</h1>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:timeStart) %></th>
      <th><%= model_class.human_attribute_name(:timeEnd) %></th>

   
 
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.date.strftime("%B %d,%Y") %></td>
        <td><%= reservation.timeStart.strftime('%l:%M - %P') %></td>
        <td><%= reservation.timeEnd.strftime('%l:%M - %P') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_reservation_path,
            :class => 'btn btn-primary' %>
