<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @reservation.name %>
</p>

<p>
  <b>Address:</b>
  <%= @reservation.address %>
</p>

<p>
  <b>Contact:</b>
  <%= @reservation.contact %>
</p>

<p>
  <b>Date:</b>
  <%= @reservation.date %>
</p>

<p>
  <b>Timestart:</b>
  <%= @reservation.timeStart.strftime('%l:%M - %P')%>
</p>

<p>
  <b>Timeend:</b>
  <%= @reservation.timeEnd.strftime('%l:%M - %P') %>
</p>

<p>
  <b>Numguest:</b>
  <%= @reservation.numGuest %>
</p>

<p>
	<b>Total Hours you will render:</b>
	<%timex=Time.diff(Time.parse(@reservation.timeStart.to_s), Time.parse(@reservation.timeEnd.to_s), '%H %N')%>
	<%= timex[:diff]%>
	
	<%= ".11".to_d / ".6".to_d%>
	<p>
		<%= timex[:minute]%>
		| <%= sprintf("%.2f",timex[:minute].to_d)%>
		| <%= ("."+"#{timex[:minute]}").to_f / ".60".to_d%>
		| <%= (sprintf("%.1f" ,(("."+"#{timex[:minute]}").to_f/ ".60".to_d)))%>
		| <%= sprintf("%.1f",(1.23))%>
		| <%= "5".to_d + "1.3".to_d%>
		|<%= x=".23"%>
		|<%= x.gsub('.','')%>
	</p>
</p>

<p>
	<b>Total:</b>
	<%= @reservation.total_price%>
</p>

<%= display_package @reservation%>


<%= display_function_room @reservation%>



<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
