
	<%- model_class = @reservation.class -%>
	<div class="container">
	<div id="reservation_container">

	
	


				<div id="reservation_handler">
								
									<table cellpadding="10">
										
											<th>Your Information</th>
										
										<tr>
											<td colspan="6"><strong>Name: </strong>:<%= @reservation.name %></td>
											
											<td><strong>Total: </strong><%= @reservation.total_price %></td>
										</tr>
										
										<tr>
											<td> <strong>Booked Date: </strong><%= @reservation.date %></td>
										
										</tr>
										
										
										<tr>
											<td colspan="2"><strong>Time Start: </strong> <%= @reservation.event_start.strftime('%l:%M - %P')%></td>
											<td>&nbsp;</td>
											<td colspan="3"><strong>Time End: </strong><%= @reservation.event_end.strftime('%l:%M - %P')%></td>
										</tr>
										<tr>
											<td><strong>Total Hours you will render: </strong><%timex=Time.diff(Time.parse(@reservation.event_start.to_s), Time.parse(@reservation.event_end.to_s), '%H %N')%>
											<%= timex[:diff]%></td>
										</tr>
										
										<tr>
											<td><strong>Number of Guest: </strong><%= @reservation.numGuest %></td>
										</tr>
										
										<tr>
											<td><strong>Service: </strong> <%= @reservation.service.name %></td>
										</tr>
										
										<tr>
											<td>&nbsp;</td>
											<td>&nbsp;</td>
											<td>
												  <%= link_to "Check Out", new_book_reservation_path ,:class=>"btn btn-inverse"%>		
											</td>
											
											<td>
												<%= link_to "Cancel Reservation" ,reservation_path(@reservation),:method => 'delete',:class => 'btn btn-danger',:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) %>
											</td>
										</tr>

					
					<div id="package-function">
						
							<%= display_package @reservation%>
								<hr />
							<%= display_function_room @reservation%>
		
						</div>	
		
					
				
				</div>
				
	</div>

	</div>
