<%- model_class = @book_reservation.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:reservation_id) %>:</strong><br>
  <%= @book_reservation.reservation_id %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:ip_address) %>:</strong><br>
  <%= @book_reservation.ip_address %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:first_name) %>:</strong><br>
  <%= @book_reservation.first_name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:last_name) %>:</strong><br>
  <%= @book_reservation.last_name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:card_type) %>:</strong><br>
  <%= @book_reservation.card_type %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:card_expires_on) %>:</strong><br>
  <%= @book_reservation.card_expires_on %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              book_reservations_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_book_reservation_path(@book_reservation), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              book_reservation_path(@book_reservation),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
