<%= form_for(@recipe_image) do |f| %>
  <% if @recipe_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_image.errors.count, "error") %> prohibited this recipe_image from being saved:</h2>

      <ul>
      <% @recipe_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipe_id %><br />
    <%= f.number_field :recipe_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
