<%= form_for([reservation,reservation_package]) do |f| %>
  <% if @reservation_package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation_package.errors.count, "error") %> prohibited this reservation_package from being saved:</h2>

      <ul>
      <% @reservation_package.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<div>  
  <%= f.label :package_id%><br />
  <%= collection_select(:reservation_package,:package_id,Package.all,:id,:name)%>
	</div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
