
	<div id="whole_page_wrapper">
		
								<div class="span12">
												<div class="span5">
																<!-- end #content -->
																			<div id="sidebar">
																				<ul>
																					<li>
																						<h2>Reservations</h2>
																						<div id="search" >
																							
																							<%= link_to "Sign up for a reservation",reservations_path , :class => 'btn btn-success'%>
																									
																							
																							
																						</div>
																						<div style="clear: both;">&nbsp;</div>
																					</li>
																					<li>
																						<h2><%=@mini.title%></h2>
																						<p><%=truncate(strip_tags(@mini.body),:length=>200) %></p>
																					</li>
																				
																					<li>
																						<h2>We serve</h2>
																						<ul>
																							<li><a href="#">Function rooms</a></li>
																							<li><a href="#">Recipes</a></li>
																							
																						</ul>
																					</li>
																					<li>
																
																			</div>
																			<!-- end #sidebar -->
												</div>
												
												
												
														<div class="span6">
															<div id="content">
																		<div class="post">
																			
																			<h2><%= @welcome.title %></h2>
																			
																			<div style="clear: both;">&nbsp;</div>
																			<div class="entry">
																				<p><%=truncate(strip_tags(@welcome.body),:length=>1300) %></p>
																				<p class="links"><a href="#">Continue</a></p>
																			</div>
																		</div>
																		<div class="post">
																			<h2><%= @aboutUs.title %></h2>
																			
																			<div style="clear: both;">&nbsp;</div>
																			<div class="entry">
																				<p><%=truncate(strip_tags(@aboutUs.body),:length=>1300) %></p>
																				<p class="links"><a href="#">Continue</a></p>
																			</div>
																		</div>
																		
																		<div style="clear: both; margin-bottom: 50px;">&nbsp;</div>
															</div>
													</div>
													
											
													
								</div>
							
		      	<div style="clear: both;">&nbsp;</div>
									
		</div>

