<!DOCTYPE html>
<html>
<head>
  <title>Doe-Joe Place</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
		<div id="headNavBackGround">
				<%= link_to "Home" %>
				<%= link_to "Contact"  %>
				<%= link_to "Questions"  %>
				<%= link_to "News" %>
		</div>
			
		<div id="bodyBackGround">
			<%= yield %>
		</div>
</body>
</html>
