<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
  	
  	<div id="headNavBackGround">
				<%= link_to "Home" %>
				<%= link_to "Contact"  %>
				<%= link_to "Questions"  %>
				<%= link_to "News" %>
		</div>
    <div id="container">
    <div id="bodyBackGround">	
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
      </div>
    </div>
  </body>
</html>
